@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  color: #424242;
  overflow: auto;
}

main {
  display: flex;
  flex: 1 0 auto;
  margin: 128px 12px 48px 12px;
  overflow: auto;
}

footer {
  display: flex;
  flex: 0 0 48px;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 24px);
  padding: 12px;
  background: #CFD8DC;
  color: #424242;
}

.item-container {
  width: 300px;
  height: 100%;
  margin-right: 24px;
  margin-bottom: 24px;
  padding: 6px 12px 6px 12px;
  overflow-x: auto;
  border: 1px solid  rgba(0,0,0,0.1);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.item-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.item-container_title {
  padding: 6px;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
}

.item-container_spacer {
  height: 2px;
  margin: 6px 0 6px 0;
  background: rgba(0,0,0,0.2);
}

.separator-title {
  padding: 0 6px 0 6px;
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
}

.separator-spacer {
  width: calc(100% - 12px);
  height: 2px;
  margin: 6px 6px 12px 6px;
  background: rgba(0,0,0,0.2);
}